<% include ../partials/head %>
<% include ../partials/topnav %>
<!-- views/index.ejs -->
<% if (messages.success) { %>
  <div class="flash flash-success"><%= messages.success %></div>
<% } %>

<% include ../partials/bottom %>
