<div class="variable-width test" >
    <div><img src="images/img_1.jpg" class = "test-img spinner" id="mycarousel" ></img></div>
    <div><img src="images/img_2.jpg" class = "test-img spinner" ></img></div>
    <div><img src="images/img_3.jpg" class = "test-img spinner" ></img></div>
    <div><img src="images/img_4.jpg" class = "test-img spinner" ></img></div>
    <div><img src="images/img_5.jpg" class = "test-img spinner" ></img></div>
    <div><img src="images/img_6.jpg" class = "test-img spinner" ></img></div>
    <div><img src="images/img_7.jpg" class = "test-img spinner" ></img></div>
    <div><img src="images/img_8.jpg" class = "test-img spinner" ></img></div>
  </div>
