<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<div tabindex="-1" class="variable-width test">

 <!--<div id="myCarousel"><img src="images/img_1.jpg" class = "test-img spinner"></img></div> -->
      <% for (var i = 1; i<=15;i++){%>
      <div class="carousel" id="myCarousel"><img src="images/img_<%= i%>.jpg" class = "test-img spinner"></img></div><%}%>
</div>
=======
=======
>>>>>>> parent of f3e0183... carousel
=======
>>>>>>> parent of f3e0183... carousel
<div class="variable-width test">
      <% for (var i = 1; i<=12;i++){%>
      <div><img src="images/img_<%= i%>.jpg" class = "test-img spinner"></img></div><%}%>
  </div>
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> parent of f3e0183... carousel
=======
>>>>>>> parent of f3e0183... carousel
=======
>>>>>>> parent of f3e0183... carousel
